<h2 id="title">Ember-CLI-Juxtapose Demo</h2>

{{outlet}}

<div class="demo-slider">
  {{juxtapose-slider beforeImageUrl = "https://juxtapose.knightlab.com/static/img/Sochi_11April2005.jpg"
                   beforeImageLabel = "Sochi April 11th, 2005"
                      afterImageUrl = "https://juxtapose.knightlab.com/static/img/Sochi_22Nov2013.jpg"
                    afterImageLabel = "Sochi November 22nd, 2013"
                       beforeCredit = "Test Credit"}}
</div>

<div class="demo-slider">
  {{juxtapose-slider}}
</div>
